.header {
  display: grid;
  margin: 92px 50px 96px 50px;
  grid-template-columns: 3.9fr 0.9fr 3.9fr;
}

.header__links-list {
  align-items: center;
  display: flex;
}

.header__links-list-main {
  gap: 32px;
  align-items: center;
  display: flex;
}

.header__links-list-item,
.header__links-list-item_no-bullit {
  list-style-type: none;
  display: list-item;
}

.header__link_active,
.header__link {
  color: #000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.header__link {
  list-style-type: circle;
  display: list-item;
  border-bottom: 1px solid black;
}

/* Элементу с классои header__logo строго заданы ращмеры,
так как это логотип, имеющий строгий размер */

.header__logo {
  width: 138px;
  display: grid;
  align-content: start;
  height: 105px;
}

.header__logo-image {
  align-content: start;
  display: block;
}

.header__address {
  justify-content: end;
  display: flex;
  align-items: center;
}

.contacts-element {
  padding-right: 3px;
  width: 240px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 23.6px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  color: #000;
}

.mail-address,
.phone-address {
  align-self: flex-start;
  text-decoration: none;
  display: flex;
  border-bottom: 0.5px solid black;
}

.city-address-second,
.city-address-first {
  align-self: flex-start;
  display: flex;
}

/* Элементу с классом cover строго заданы размеры,
так как это фоновое изображение */

.cover {
  background-position: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  padding-top: 165px;
  z-index: 2;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "start start start"
    "center center center"
    "end end end ";
  row-gap: 19px;
}

.aligned-text_right,
.aligned-text_center,
.aligned-text {
  font-family: Raleway, sans-serif;
  color: #fff;
  letter-spacing: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

.aligned-text {
  grid-area: start;
  text-align: start;
  margin: 0px 50px;
  line-height: 115%;
}

.aligned-text_center {
  grid-area: center;
  text-align: center;
  justify-self: center;
  margin: 0px 95px 0px 65px;
  line-height: 100%;
}

.aligned-text_right {
  grid-area: end;
  text-align: end;
  margin: 0px 50px 0px 50px;
  line-height: 70px;
}

.new-letter-spacing {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  margin: 105px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.bet-button,
.cover__description-text {
  font-family: Raleway, sans-serif;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.cover__description-text {
  justify-content: end;
  padding-left: 372px;
  display: flex;
  align-items: center;
  word-spacing: 17px;
  letter-spacing: 0px;
}

.cover__description-text-new-word-spacing{
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #ffffff;
  display: flex;
  padding: 12px 32px;
  background: none;
}

.lots {
  flex-shrink: 0;
  margin: 180px 50px 0px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: Raleway, sans-serif;
  color: #000;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-link {
  height: 100%;
  text-decoration: none;
  display: block;
}

/* Элеменам с классом card задал четку ширину, 
так как данный элемент состоит из определенного контента и 
для его позиционированиия необходимо значение ширины
Для корректного отображения на устройствах с другой диагональю экрана 
родительскому списку добавлено свойство flex-wrap: wrap */

.card {
  width: 430px;
  z-index: 2;
  height: 100%;
  min-height: 450px;
  flex-grow: 1;
  flex-direction: column;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
}

.card_type_film {
  background-size: cover;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-size: cover;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-size: cover;
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway, sans-serif;
  color: #fff;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.card__text {
  font-family: Raleway, sans-serif;
  color: #fff;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  justify-content: space-around;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  margin-top: 30px;
  font-family: Raleway, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
}

.lots__look-more-link-text {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.about {
  margin: 180px 50px 184px 50px;
}

.about__column {
  grid-template-columns: 430px 1fr;
  display: grid;
}

/* В случае с классом about__logo я строго указал размеры блока, так как
это необходимо для формирования черного круга нужного размера */

.about__logo {
  height: 240px;
  display: flex;
  width: 240px;
  justify-self: center;
  border-radius: 120px;
  background-color: #000;
}

/* В случае с классом about__logo-image я строго указал его размеры, 
так как это класс, относящийся к логотипу */

.about__logo-image {
  height: 114px;
  display: grid;
  width: 148px;
  margin-left: 46px;
  align-self: center;
}

.about__title-and-text-wrapper {
  margin: 101px 0px 0px 25px;
  row-gap: 30px;
  display: grid;
}

.about__title {
  margin-bottom: 70px;
  color: #000;
  font-family: Raleway, sans-serif;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

footer {
  margin: 0px 50px 90px 50px;
  justify-content: space-between;
  display: flex;
}

.footer__menu {
  justify-items: center;
  display: grid;
  align-content: start;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  align-self: center;
  display: grid;
  font-family: Raleway, sans-serif;
  color: #000;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  border-bottom: none;
  text-decoration: none;
}

/* В элементе с классом foter__social-list я задал значения ширины
для того, чтобы не задавать размеры каждой иконке социальной сети. 
В моем случае достаточно выставить нужное расстояние между элементами
и иконки становятся нужного размера. */

.footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.footer__social-list-item-logo{
  width: 48px;
}
